@import "tailwindcss";

@theme{
    --color-primary: #212121;
    --color-secondary: #2B2B2B;
    --font-jet: "JetBrains Mono", monospace;
}

body{
    background: var(--color-primary);
    color: #f5f5f5;
    font-family: "Syne", sans-serif;
}

input, textarea, select, button{
    outline: 0;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #bababa;
    border-radius: 10px;
    cursor: pointer;
}

.scroll-none::-webkit-scrollbar{
    display: none;
}